.container
  .row.text-xs-center
    .col-sm-8.offset-sm-2.text-xs-center
      = simple_form_for(@form,
                        url: login_path,
                        as: :session,
                        html: { class: 'basic-form' },
                        wrapper: :vertical_input_group,
                        wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes,
                        radio_buttons: :horizontal_radio_and_checkboxes,
                        file: :horizontal_file_input,
                        boolean: :horizontal_boolean }) do |f|
        f.error_notification
        h1.m-y-3 Log in
        .form-group
          = f.input :email, class: 'form-control', placeholder: 'Email'
        .form-group
          = f.input :password, class: 'form-control', placeholder: 'Password'
        .actions
          = f.submit 'Log in', class: 'btn btn-primary btn-sm'