p 
  | Please vefiy your account 
  = link_to 'here!', @verification_url

p
  | If the URL does not work, try copying and pasting it into your browser. If you continue to have problems, please feel free to contact us.

p 
  | Even if you do not want to verify, feel free to start using the app (you do not have to confirm your account for 24 hours).