p 
  | Welcome 
  = @user.full_name
  | to ClockWork app.


p 
  | If you haven't recieved verification instructions, click here, or feel free to start using the app (you do not have to confirm your account for 24 hours).