.container
  .row.text-xs-center
    .col-sm-8.offset-sm-2.text-xs-center
      h1.m-y-3 Profile Information
      table.table.table-hover
        tr
          th Email
          td= best_in_place @model, :email, as: :input, class: 'hvr-underline-from-right'
        tr
          th Full name
          td= best_in_place_if @model.full_name, @model, :full_name, as: :input, class: 'hvr-underline-from-right'
      = link_to 'Change password', '', class: 'btn btn-warning btn-sm pull-left'
