.container.m-t-3
  i.icon-logo.icon.m-b-3
  h2.m-b-3.m-t-3 clockWork is beautiful team tracking app designed with simplicity in mind.
  p.m-t-3 create organization and add team members to get your include code
