header.jumbotron.bg-inverse.text-xs-center.center-vertically role="banner" 
  .container
    i.icon-logo.icon-large.m-b-2
    h1.fw-100.m-y-2 clockWork
    h2.m-b-3 clockWork is beautiful team tracking app designed with simplicity in mind.
