nav.menu
  input#menu-open.menu-open href="#" name="menu-open" type="checkbox" /
  label.menu-item-color.menu-open-button for="menu-open" class="icon-logo"
  = share_link
  = about_link
  = action_link
  = github_link
  = home_link
/! filters
svg.svg-menu version="1.1" xmlns="http://www.w3.org/2000/svg" 
  defs
    filter#shadowed-goo
      fegaussianblur in="SourceGraphic" result="blur" stddeviation="10" 
      fecolormatrix in="blur" mode="matrix" result="goo" values=("1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7") 
      fegaussianblur in="goo" result="shadow" stddeviation="3" 
      fecolormatrix in="shadow" mode="matrix" result="shadow" values=("0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2") 
      feoffset dx="1" dy="1" in="shadow" result="shadow" 
      feblend in="goo" in2="shadow" result="goo" 
      feblend in="SourceGraphic" in2="goo" result="mix" 
    filter#goo
      fegaussianblur in="SourceGraphic" result="blur" stddeviation="10" 
      fecolormatrix in="blur" mode="matrix" result="goo" values=("1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7") 
      feblend in="SourceGraphic" in2="goo" result="mix" 
