@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?xriqh8');
    src:    url('../fonts/icomoon.eot?xriqh8#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?xriqh8') format('truetype'),
        url('../fonts/icomoon.woff?xriqh8') format('woff'),
        url('../fonts/icomoon.svg?xriqh8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
    content: "\e900";
}
.icon-caret-down:before {
    content: "\e5c5";
}
.icon-close:before {
    content: "\e5cd";
}
.icon-edit:before {
    content: "\e254";
}
.icon-done:before {
    content: "\e876";
}
.icon-logout:before {
    content: "\e879";
}
.icon-person:before {
    content: "\e7fd";
}
.icon-person-add:before {
    content: "\e7fe";
}

