    /**
     * Description: clockwork app
     * Version: 1.0.0
     * Last update: 2016/14/05
     * Authors: Cex <mirko@floatingpoint.io>, Tibor <tibor@floatingpoint.io>
     *
     * Summary:
     *
     *  0. DEPENDENCIES AND IMPORTS
     *  1. GlOBAL
     *      - 1.1. Custom variables
     *      - 1.2. Typography
     *      - 1.3. Animations
     *  2. ELEMENTS
     *      - 2.1. Navbar
     *      - 2.2. Hero Section
     */

    /* ==========================================================================
       0. DEPENDENCIES AND IMPORTS
       ========================================================================== */

    @import "hover";
    @import "bootstrap";
    @import "jquery-ui";
    @import "icomoon";
    @import "mixins";
    @import "font-awesome";
    @import "gooey_button";

    @import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);


    /* ==========================================================================
       1. GLOBAL
       ========================================================================== */

        /* 1.1 Custom variables
           ========================================================================== */
        html,
        body {
          width: 100%;
          height: 100%;
        }

        $custom-min-width: map-get($grid-breakpoints, 'md');
        $custom-min-height: 37.5em; // 600

        .editable {
            padding: 10px;
        }

        .action-icon {
            font-size: 1.5em;
            cursor: pointer;
            &::before {
                display: block;
                width: 1em;
                height: 1em;
            }
        }

        .icon-logo.icon-large {
            font-size: 128px;
        }

        .opacity-0 {
            opacity: 0;
        }

        .hover-danger {
            &:hover {
                color: $brand-danger;
            }
        }

        .fixed-alerts {
            position: fixed;
            right: 1em;
            bottom: 1em;
        }

        .center-vertically {
          @media (min-width: $custom-min-width) and (min-height: $custom-min-height) {
            display: table;
            width: 100%;
            height: 100%;
            padding: 0;

            > div {
              display: table-cell;
              vertical-align: middle;
            }
          }
        }


        /* 1.2 Typography
           ========================================================================== */


        body {
            font-family: 'Lato', sans-serif;
            padding-top: 5em;
        }

        .table tbody>tr>th.vert-align-middle {
            vertical-align: middle;
        }

        a:focus, a:hover {
          text-decoration: none;
        }


        /* 1.3 Animation
           ========================================================================== */

        @keyframes blink { 
           50% { border-color: inherit; } 
        }
        .blink, .blink::before { 
            animation: blink 4s ease-in-out infinite alternate;
        }


        @keyframes new-item-animation {
          0% {
            opacity: 0;
            transform: translateX(300px);
          }

          70% {
            opacity: 1;
            transform: translateX(-50px);
          }

          100% {
            opacity: 1;
            transform: translateX(0);
          }
        }



        @keyframes removed-item-animation {
          0% {
            opacity: 1;
            transform: translateX(0) rotateZ(0);
          }

          50% {
            opacity: 1;
            transform: translateX(-400px) rotateZ(0);
          }

          75% {
            opacity: 1;
            transform: translateX(-420px) rotateZ(-30deg);
          }

          100% {
            opacity: 0;
            transform: translateX(-800px) rotateZ(-60deg)  translateY(400px);
          }
        }

        @keyframes icon-dissapear {
            0% {
                opacity: 1;
            }
            99% {
                opacity: 0;
            }
            100% {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                z-index: -1;
            }
        }

        @keyframes icon-appear {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 100;
            }
        }

        .anm-appear {
            animation: 1s ease-out 2.5s forwards icon-appear;
        }


/* ==========================================================================
   2. ELEMENTS
   ========================================================================== */

    /* 2.1 Navbar
       ========================================================================== */


    .navbar-toggler {
      padding: 0;
      margin-top: 1.5625rem;
      margin-left: .75rem;
      font-size: 2rem;
      border: 0;
      border-radius: 0;

      &:focus {
        outline: 0;
      }
    }

    .bg-inverse .navbar-toggler {
      color: rgba(255, 255, 255, .75);

      &:focus,
      &:hover {
        color: #fff;
      }
    }

    .navbar-toggler-custom {
      margin-top: 1.8125rem;
      font-size: 1.55rem;
    }

    .navbar {
      padding-top: .5rem;
      padding-bottom: .5rem;
      font-size: .9375rem;
      font-weight: 600;
      line-height: 1.2;

      @include media-breakpoint-up(md) {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    .navbar-nav .nav-link {
      padding-top: 10px;
      padding-bottom: 10px;

      @include media-breakpoint-up(md) {
        padding: 1.9375rem 1rem;
      }
    }

    .nav-inline .nav-item + .nav-item,
    .navbar-nav .nav-item + .nav-item {
      margin-left: 0;
    }

    .navbar-toggleable-custom {
      @include media-breakpoint-down(sm) {
        clear: both;
      }
    }

    #collapsingNavbar,
    #collapsingNavbarInverse {
      @include media-breakpoint-up(md) {
        display: block !important;
      }
    }

    @include media-breakpoint-down(sm) {
      .navbar-nav {
        float: none !important;
        width: 100%;

        .nav-item {
          display: block;
          float: none;
          margin: 0 0 1px;
          text-align: right;
          background-color: #fff;
        }
      }

      .navbar-dark .navbar-nav {

        .nav-item {
          background-color: transparent;
        }

        .nav-link {
          display: block;
          color: darken(#fff, 20%);
          &:focus,
          &:hover {
            color: #fff;
          }
        }

        .active .nav-link {
          color: #fff;
        }
      }

      .bg-inverse-custom .navbar-nav {

        .nav-item {
          background-color: #fff;
        }

        .nav-link {
          padding: 1rem;
          color: lighten($gray, 20%);
          &:focus,
          &:hover {
            color: $gray;
          }
        }

        .active > .nav-link {
          color: $brand-primary !important;
        }
      }
    }

    .navbar-fixed-top { position: absolute; }

    .navbar-brand {
      padding: 1rem 0 1.0625rem;
      margin: 0;
    }

    .icon-logo { font-size: 45px; }

    .navbar-nav .active > .nav-link {

      @include media-breakpoint-down(sm) {
        color: $brand-primary;
      }

      @include media-breakpoint-up(md) {
        position: relative;

        &:after {
          position: absolute;
          right: 1rem;
          bottom: 1.375rem;
          left: 1rem;
          height: 2px;
          content: '';
          background-color: rgba(66, 71, 83, .2);
        }
      }
    }

    .navbar-dark .navbar-nav .active > .nav-link {

      @include media-breakpoint-up(md) {
        position: relative;

        &:after {
          background-color: rgba(255, 255, 255, .2);
        }
      }
    }

    .dropdown-menu {
      padding: 1.5rem 1.75rem;
      margin-top: 0;
      border: 0 none;
      box-shadow: 0 0 4px 0 rgba(0,0,0,.25);

      .media {
        padding-bottom: 1.25rem;
        margin-bottom: 1.25rem;
        color: $gray;
        border-bottom: 1px solid #e9eaec;
      }

      .text-muted {
        color: rgba(66,71,83,.4) !important;
      }
    }

    .dropdown-menu-animated {
      display: block;
      padding: 1.5rem 1.75rem;
      margin-top: 0;
      visibility: hidden;
      border: 0 none;
      box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
      opacity: 0;
      transition: opacity .5s, transform .5s, visibility 0s .5s;
      transition-timing-function: cubic-bezier(.7, 0, .3, 1);
      transform: scale3d(.95, .95, 1) translate3d(0, -15px, 0);
      transform-origin: 100% 0;
    }

    .open {

      > .dropdown-menu-animated {
        visibility: visible;
        opacity: 1;
        transition: opacity .5s, transform .5s;
        transition-timing-function: cubic-bezier(.2, 1, .3, 1);
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
      }
    }

    .dropdown-menu-custom {
      overflow-y: hidden;
      background-color: #fff;
      border: 0 none;

      .media {
        margin-bottom: 1.5rem;
        color: $gray;
      }

      .text-muted {
        color: rgba(66,71,83,.4) !important;
      }
    }

    .dropdown-item {
      padding: 0 0 .625rem;
      font-size: .8125rem;
      font-weight: 600;
      line-height: 1.1538;

      & + & { padding-top: .625rem; }

      &:hover,
      &:focus {
        background-color: transparent;
      }
    }

    .bg-inverse .dropdown-item {
      color: $gray;

      &:focus,
      &:hover {
        color: $brand-primary;
        background-color: transparent;
      }
    }

    h5 {
      font-weight: 600;
      line-height: 1.2;
    }

    h6 {
      font-weight: 300;
      line-height: 1;
    }

    .btn-circle {
      display: block;
      width: 2.5rem;
      height: 2.5rem;
      padding: 0;
      font-size: 1.25rem;
      line-height: 2.2;
      color: #fff;
      text-align: center;
      border-radius: 50%;
      opacity: .8;

      &:focus,
      &:hover {
        color: #fff;

        @include gradient-directional(#663fb5, #663fb5);
      }
    }

    .has-gradient {
      @include gradient-directional(#663fb5, #2b8be3);
    }

    .dropdown-toggle {

      &:hover { cursor: pointer; }

      &:after {
        display: none; // no BS caret
      }

      img {
        margin-right: .5rem;
        box-shadow: 0 0 0 4px $gray;
      }

      span { vertical-align: middle; }
    }

    .bg-inverse .dropdown-toggle {
      img {
        box-shadow: 0 0 0 4px #fff;
      }
    }

    .navbar-nav .nav-dropdown-user {
      padding: 1.25rem 0 1.3125rem .5rem;
    }

    .user-add {
        line-height: 39px;
        font-size: 38px;
    }

    .dropdown-menu-user { top: 104%; }

    // Scroll Nav
    @include media-breakpoint-up(md) {

      .scroll-nav {
        position: fixed;
        top: 50%;
        right: 5%;
        z-index: 2;
        transform: translateY(-50%);

        a {
          width: 17px;
          height: 17px;
          color: #fff;
          background-color: #fff;
          border-radius: 50%;

          &.active {
            border: 4px solid rgba(255,255,255,.25);
          }
        }
      }
    }

    /* 2.2 Jumbotron
       ========================================================================== */

    .jumbotron {
        padding-top: 7rem;
        margin-bottom: 0;
        background: #fff url(../images/hero-bg-1.jpg) no-repeat center bottom;
        background-size: cover;
        border-radius: 0;

        h1 {
            font-size: 72px;
        }

        @include media-breakpoint-down(sm) {
            padding-top: 6.25rem;
        }

        .btn { padding: 1.2rem 2rem; }

        a.jumbolink {
         opacity: .6;
            transition: opacity .175s;
        }

        a.jumbolink:hover,
        a.jumbolink:focus {
         opacity: 1;
        }
    }

    /* 2.3 Member list
       ========================================================================== */

    .members {
        list-style-type: none;
        max-width: 500px;
        margin: 30px auto;
        padding-left: 0;
    }

    .members li {
        z-index:1;
        font-weight: 400;
        /*box-shadow: 0 7px 0 -4px rgba(0, 0, 0, 0.2);*/
        color: #444;
        text-align: left;
        min-height: 50px;
        line-height: 30px;
        font-size: 20px;
        background-color: #f7f7f7;
        margin-bottom: 10px;
        padding: 10px;
        position: relative;
        opacity: 0;
        word-wrap: break-word;
        transition: all .1s ease;
    }

    li.new-member {
      opacity: 0;
      animation: new-item-animation .5s cubic-bezier(.14,.25,.52,1.56) forwards;
      &::after {
        font-family: 'icomoon' !important;
        content: "\e876";
        /* @keyframes duration | timing-function | delay | 
        iteration-count | direction | fill-mode | play-state | name */
        animation: 1s ease-out 1.5s forwards icon-dissapear;
        color: $brand-success;
        font-size: 1.5em;
        position: absolute;
        right: 10px;
      }
    }
    li.removed-member {
      animation: removed-item-animation 1s linear;
      transform-origin: 390px 100%;
    }

    /* 2.3 Card Profile
       ========================================================================== */
        .card-social {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            border-radius: .25rem;

            @include media-breakpoint-up(md) {
                .card-stat + .card-stat:before {
                    position: absolute;
                    top: 0;
                    right: 100%;
                    bottom: 0;
                    width: 1px;
                    height: 100%;
                    content: '';
                    background-color: #e9eaec;
                }
            }

            .card-block {
                padding-top: 1.875rem;
                padding-bottom: 1.875rem;

                &:first-child {
                    border-radius: .25rem .25rem 0 0;
                }

                &:last-child {
                    border-radius: 0 0 .25rem .25rem;
                }
            }

            img {
                margin-bottom: 1rem;
                box-shadow: 0 0 0 4px #fff;
            }

            .card-title { font-size: 1.125rem; }

            .card-subtitle {
                margin-bottom: 0.725rem;
                color: #fff;
                &:after {
                    display: none;
                }
            }

            .btn {
                position: absolute;
                top: 1rem;
                right: 1rem;
                padding: .4rem .75rem;
                font-size: .875rem;
                font-weight: 300;
                color: #fff;
                text-transform: capitalize;
                letter-spacing: 0;
                border-color: #fff;
                &:hover,
                &:focus {
                    background-color: rgba(255, 255, 255, .25);
                    border-color: transparent;
                }
            }

            h4 {
                @include media-breakpoint-up(md) {
                    margin-bottom: 0;
                }
            }

            small {
                display: block;
                font-family: $font-family-sans-serif;
                font-size: .8125rem;
                color: rgba(66,71,83,.4);
            }

            .card-stat { position: relative; }
        }
    
    /* 2.4 Tables
       ========================================================================== */

       .table-element {
        border-bottom: 8px solid #ddd;
       }
