.container
  .row.text-xs-center
    .col-sm-8.offset-sm-2.text-xs-center
      = simple_form_for(@form,
                        html: { class: 'basic-form' },
                        url: create_organization_path,
                        wrapper: :vertical_input_group,
                        wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes,
                        radio_buttons: :horizontal_radio_and_checkboxes,
                        file: :horizontal_file_input,
                        boolean: :horizontal_boolean }) do |f|
        f.error_notification
        h1.m-y-3 Create Organization
        .form-group
          = f.input :name, class: 'form-control', placeholder: 'Name'
        .form-group
          = f.input :website_url, class: 'form-control', placeholder: 'Website url'
        .actions
          = f.submit 'Create', class: 'btn btn-primary btn-sm'