.dropdown.hidden-sm-down.textselect-off
  a#dropdownMenu2.nav-link.dropdown-toggle.nav-dropdown-user aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" 
    img.img-circle alt="Avatar" height="40" src="#{avatar_url}" width="40" /
    span.icon-caret-down
  .dropdown-menu.dropdown-menu-right.dropdown-menu-user.dropdown-menu-animated aria-labelledby="dropdownMenu2" 
    .media
      .media-left
        img.img-circle alt="Avatar" height="60" src="#{avatar_url}" width="60" /
      .media-body.media-middle
        h5.media-heading= display_name
        h6= display_email
    = my_data_link
    = my_organizations_link
    = logout_link
