<nav class="navbar navbar-dark bg-inverse bg-inverse-custom navbar-fixed-top">
  <div class="container">
    <%= concept("menu/cell", tyrant.current_user)%>
    <div id="collapsingNavbar" class="collapse navbar-toggleable-custom" role="tabpanel" aria-labelledby="collapsingNavbar">
      <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item nav-item-toggable">
          <%= concept("user_menu/cell", tyrant.current_user)%>
        </li>
      </ul>
    </div>
  </div>
</nav>