<!DOCTYPE html>
<html>
<head>
  <title>ClockWork</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/top_navigation_bar' %>

<div class="fixed-alerts unobtrusive-flash-container col-xs-12 col-sm-6 col-md-3 text-xs-center">
</div>

<%= yield %>

</body>
</html>
